/* para as categorias */
/*
.pagination a.active {
    background-color: #4CAF50;
    color: white;
}

.pagination a:hover:not(.active) {background-color: #ddd;}
	*/

body {
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	background: url("../img/cover_girl	.jpg") no-repeat bottom center;
    background-color: #0e0e0e;
    background-size: 100%;
    background-position: top center;

}
hr {

	width: 100px;
	border: none;
	height: 1px;
	background-color: #279ecf;
}
.top {
	min-width: 100px;
	max-width: 800px;
	margin: 20px auto auto;
	padding: 10px;
	text-align: right;
	position: relative;
}

#sair {
	padding: 6px 18px;
	box-shadow: 0px 0px 30px #0e0e0e;

	border-color: #fafafa;
	border-radius: 3px;
	border-width: 2px;
	border-style: solid;

	color: #fafafa;
	font-size: 14pt;
	font-weight: 600;
	text-shadow: 0px 0px 10px #0e0e0e;
	text-decoration: none;
}

a#sair:hover {
	background-color: rgba(0,0,0,0.3);

}

#icon {
	max-width: 29px;
	max-height: 29px;
	position: relative;
	top: 7px;

}

#option {
	max-width: 20px;
	max-height: 20px;
	position: relative;
	top: 4px;
	padding: 0px 5px 0px 20px;

}

input {
	border-radius: 20px;
	border-style: none;
	padding: 8px 20px;
	min-width: 200px;
	min-height: 20px;

	letter-spacing: 1.1px;
	color: #505050;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	z-index: 2;
}

 /* post */
		textarea, .this-is-not-a-textarea {
			margin: auto;
			padding: 8px 15px;
			min-width: 500px;
			resize: none;
			border: none;
			border-radius: 8px;
			box-shadow: 2px 2px 8px rgba(0,0,0,0.1);

			text-align: justify;
			font-family: 'Montserrat', sans-serif;
			font-size: 12pt;
			overflow: hidden;

			position: relative;
			z-index: 1;

		}

		#title_perg{
			background-color: #fbf3d7;
			box-shadow: none;

			text-align: right;
			font-size: 16pt;
			font-weight: 700;
			color: #0e0e0e;

			padding-bottom: 2px;
			top: 15px;
		}

		@media screen and (max-width: 570px){
			#title_perg {
					text-align: center;
				}
			textarea {
					min-width: 300px;
				}

			#postar{

					text-align: center;
				}
		}

		@media screen and (max-width: 400px) {
			textarea {
				min-width: 200px;
			}
			* {
				font-size: 90%;
			}

		}

.post_area {
	margin: auto;
	text-align: center;

}

#post_btns {
	margin: auto;
	text-align: right;
	max-width: 500px;
	position: relative;
	top: -11px;
	z-index: 0;
}
		#btn_posta, #btn_altera {
			padding: 20px 10px 10px 10px;
			border-radius: 0px 0px 8px 8px;
			min-width: 0px;
			min-height: 0px;
			margin: auto;

			background-color: #279ecf;
			color: #fafafa;

			position: relative;
			top: -10px;
			transition: box-shadow 1s;
			transition: top 0.2s;

		}
		input#btn_posta:hover {
			cursor: pointer;
			box-shadow: 2px 2px 10px rgba(0,0,0, 0.1);
			top: 0px;
		}

/* down post */

		#btn_opt {
			padding: 20px 10px 5px 10px;
			background: none;
			border: none;
			margin: auto;
			margin-right: 10px;
			background-color: #279ecf;
			border-radius: 0px 0px 8px 8px;
			transition: box-shadow 1s;
			transition: padding 0.2s;
			position: relative;
			top: 0px;
			transition: top 0.2s;

		}

		#btn_opt_erase {
			padding: 20px 10px 5px 10px;
			background: none;
			border: none;
			margin: auto;
			margin-right: 10px;
			background-color: #279ecf;
			border-radius: 0px 0px 8px 8px;
			transition: box-shadow 1s;
			transition: padding 0.2s;
			position: relative;
			top: 0px;
			transition: top 0.2s;
			background-color: #f25252;
		}


		#btn_opt:hover, #btn_opt_erase:hover {
			cursor: pointer;
			box-shadow: 2px 2px 10px rgba(0,0,0, 0.1);
			top: 5px;

		}

		#reply {
			position: relative;

			z-index: 1;
			max-width: 100px;
			margin-right: 0px	;
			top: -41px;

		}
		#reply2 {
			position: relative;
			/*	left: 50px;
				top: -95px;
		*/
			z-index: 1;
			max-width: 100px;
			margin-left: 0px	;
			right: -100px;
			top: -56px;
			text-indent: 0px;
		}

		form.opt {
			margin: 0px;
			text-align: center;
			max-width: 50px;
			position: relative;
			top: -41px;

		}

		#btn_opt_img {
			max-width: 20px;
			max-height: 20px;

		}


#tools {
	max-height: 60px;
	padding: 10px;
	display: none;
}
#tool {
	padding: 3px 10px;
	border-color: #0e0e0e;
	border-style: solid;
	border-width: 0.9px;
	border-radius: 8px;
	min-height: 20px;
	min-width: 200px;

	font-size: 10pt;
	color: #0e0e0e;
	text-decoration: none;
}

#busca {
	padding: 9.8px 14px 7.5px 30px;
	cursor: pointer;

	font-size: 12pt;
	font-weight: 500;
	color: #fafafa;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;

	background-color: #279ecf;
	border-radius: 8px;
	border-width: 0px;
	margin: 0px 3px 0px -25px;
	position: relative;
	top: 2px;

	transition: background-color 0.5s;
}
#busca:hover {
	background-color: #238aba;
}

.main {
	margin: auto;
	margin-top: 20px;
	margin-bottom: 0px;
	font-family: 'Montserrat', sans-serif;

}
.back_main {
	background-color: #fbf3d7;
	position: relative;
	margin: 0px;
	position: relative;
	z-index: 2;
	padding: 0px;
}

#grad {
	background: linear-gradient(180deg, rgba(251,0,0,0), rgba(251,243,215,0.2), rgba(251,243,215,0.9), rgba(251,243,215, 1));
	margin: auto;

}

#tabs {
	margin: auto;
	min-height: 30px;
	min-width: 100px;
	max-width: 600px;
	position: relative;
	z-index: 1;
	text-align: right;
	top: 58px;

}
#tab {
	font-size: 16pt;
	color: #fafafa;
	text-decoration: none;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	background-color: #279ecf;
	border-radius: 8px 8px 0px 0px;
	margin: 0px 3px;
	padding: 8px 25px 7px 25px;
	transition: background-color 0.5s;
	transition: box-shadow 0.5s;
}
a#tab:hover {
	background-color: #2092c1;
	box-shadow: 0px -4px 9px rgba(0,0,0,0.1);
}

#content {
	background-color: #fbf3d7;
	min-width: 100px;
	min-height: 100px;
	max-width: 800px;
	margin: auto;
	padding: 10px;
}

.title {
	min-width: 100px;
	min-height: 100px;
	max-width: 800px;
	margin: auto;
	margin-top: 0px;
	margin-bottom: 10px;
	text-align: left;
}

/* text */
	h1 {
		margin: 0px;
		font-size: 40pt;
		color: #fafafa;
		font-weight: 800;
	}

	h2 {
		margin-right: 10px;
		margin-bottom: 0px;
		font-weight: 500;
		font-size: 24pt;
		color: #333333;
		text-align: right;
		padding-left: 20px;
	}
		#title-header {
			position: relative;
			top: -10px;
			left: 0px;
			float: left;
			padding-top: 10px;
			font-weight: 300;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.6);
			font-size: 16pt;
			color: #fafafa;
		}

	h3 {
		margin-left: 10px;
		font-weight: 400;
		font-size: 16pt;

		text-align: right;
	}

	p {
		color: #333;
		text-align: justify;
		font-weight: 300;
		word-wrap: break-word;
	}

/* - - - header - - - */

	#header_main {
		box-shadow: 0px -10px 15px  rgba(0,0,0,0.1);
		background-color: #fbf3d7;
		min-height: 100px;
		min-width: 100px;
		max-width: 800px;
		margin: auto;
		padding: 10px;
		position: relative;
		z-index: 2;
	}
	#header {
		background-color: #fbf3d7;
		min-height: 100px;
		min-width: 100px;
		max-width: 800px;
		margin: auto;
		padding: 10px;
		position: relative;
		z-index: 2;
	}

	#header_space1 {
		margin-top: -120px;
		padding: 5px 10px 5px 20px;
		margin-left: 10px;
		margin-right: 400px;
		background-color: #02858F;
		box-shadow: 2px 2px 10px #333;
	}
	#header_detalhe {
		padding: 4px 10px 5px 10px;
		margin: 0px -50px 0px 100px;

		background-color: #fafafa;
		box-shadow: 0px 0px 5px #02858F;
	}
	#header_space2 {
		margin-top: 10px;
		padding: 10px;
		margin-right: 10px;
	}
	.header_space2 {
		text-align: right;
		margin: 0px;
		font-size: 10pt;
		padding: 0px 10px 0px 0px;
	}
	.header-left {
		margin-top: -30px;
		margin-left: 80px;
		float: left;
		padding-top: 8px;

	}
	#header-logo {
		max-width: 70px;
		max-height: 70px;
		float: left;

		padding-top: 2px;
	}

#text_content {
	padding: 10px 50px 10px 50px;
	letter-spacing: 0.1px;
	line-height: 1.4;
	text-indent: 50px;
}

.sobre_topo_imagem {
	/*background-image: linear-gradient(-180deg, transparent 0%, rgba(0,0,0,0.35) 80%);*/
	background-size: cover;
    background-position: 0px -150px;
	background-position: center;

	margin: auto;
	margin-right: 0px;
	margin-top: 50px;

	box-shadow: 0px 0px 210px #333333;
}
.sobre_topo {
	height: 300px;

}
.topo_imagem {
	/*background: url("../img/Break Logo White Shadow.svg") no-repeat bottom center;*/
    /*background-color: #fbf3d7;*/
    background-size: cover;
    background-position: 0px -150px;
	background-position: center;

	margin: auto;
	min-height: 200px;
	min-width: 200px;
	max-width: 300px;
	max-height: 300px;
	position: relative;
	z-index: -1;
}

#abinha a{
	margin: 0;
	padding: 5px;
	text-align: center;
	overflow: hidden;
	color: #fafafa;
	text-overflow: ellipsis;
	font-size: 20pt;
	font-weight: 500;

	text-decoration: none;
	cursor: crosshair;
}

.abas {
	max-width: 700px;
	min-width: 100px;
	min-height: 100px;
	margin: auto auto -50px auto;
	position: relative;
	z-index: -1;
}

#abinha {
	border-radius: 10px;
	background-color: #fafafa;
	max-width: 200px;
	margin: auto auto -10px 20px;


	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 20px;

	background-color: #009bdb;
	float: left;
}

#abinha a:hover {
	font-size: 100;


}

.back_rodape {
	background-color: #fbf3d7;
	margin: 0px;
	margin-bottom: 0px;
}

#rodape {
	background-image: linear-gradient(-180deg, transparent 0%, rgba(1,89,131,0.35) 80%);
	background-color: #02858F;
	margin: auto;
	margin-bottom: 0px;
	padding: 10px;
	min-width: 100px;
	min-height: 100px;
	max-width: 800px;
}

#postar {
	margin: auto;
	position: relative:
}

#balaozin {
	margin: auto;
	padding: 10px;
	background-color: #fafafa;
	border-radius: 20px;
	border-bottom-right-radius: 80px/3px;
	position: relative;
	z-index: 2;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}

#anotacaozin {
	margin: auto;
	padding: 10px;
	background-color: #fafafa;
	border-radius: 20px;
	border-bottom-right-radius: 80px/3px;
	position: relative;
	z-index: 2;
	box-shadow: 2px 2px 8px rgba(0,0,0,0.1);
}


#balaozin:after {
	content: '';
	border: 40px solid transparent;
	border-left-color: #fafafa;
	border-top: 0;
	border-right: 0;
	position: relative;
	z-index: 0;

	margin-left: -10px;
	margin-bottom: 28px;
}

#tag_disc {
	text-indent: 0px;
	padding: 5px;

	margin-left: -10px;
	margin-top: 10px;
	position: absolute;
	text-align: left;
	border-radius: 0px 8px 8px 0px;


}


#text_tag {
	text-align: center;
	margin: 0px;
	padding: 5px 10px 5px 15px;
	font-weight: 800;
}

#baixo_balaozin {
	margin: auto;
}

/* not in use */
#bg_video{


	/*background: url(images/torre.jpg) no-repeat;*/
	background-size: cover;
	box-shadow: 2px 5px 20px #c3c3c3;
	min-height: 100px;
	min-width: 200px;
	max-width: 1000px;
	max-height: 300px;
}

.videozin {
	margin: auto;
	padding: 10px;
	position: relative;


    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;

	min-height: 100px;
	min-width: 200px;
	max-width: 1000px;
	max-height: 300px;
}
