/* promo.css */
body {

	margin: 0px;
	background-color: #fff;
	font-family: 'Montserrat', sans-serif;

}

h1 {
	color: #324c64;
	font-size: 22pt;
	letter-spacing: 1.6px;
	font-weight: 500;
}

.header-left {
	margin-top: -30px;
	margin-left: 80px;
	float: left;
/*  position: absolute;
	top: -30px;
	left: 80px;*/

}

#header-logo {
	max-width: 50px;
	max-height: 50px;
	float: left;
}

#title-header {
	position: relative;
	top: -10px;
	left: 15px;
	float: left;
	font-weight: 300;
	color: #279ecf;
}

#tabs {
	margin-right: 50px;

	position: relative;
	z-index: 1;
	text-align: right;

}
#tab {
	padding: 8px 25px 15px 25px;
	font-size: 15pt;
	color: #fafafa;
	text-decoration: none;
	background-color: #279ecf;
	border-radius: 8px;
	margin: 0px 3px;
	line-height: 40px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	transition: box-shadow 0.5s;
	transition: padding 0.1s;
}

a#tab:hover {
	box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.6);
	padding: 10px 25px 19px 25px;
}

#icon {
	position: relative;
	top: 5px;
	left: 6px;
	max-width: 29px;
	max-height: 29px;
}

.main {
	margin: 50px 0px 0px 0px;
	background-color: #fff;

}

#note {
	min-width: 500px;
	max-width: 520px;
	min-height: 500px;
	max-height: 800px;

	background-image: url("../img/notebook_promo.png");
	 background-size: cover;
    background-position: top left;

	float: left;
	position: absolute;
	right: 0px;
	top: 20px;

}

/* FIRST */

	#first_part {
		margin: 0px;
		padding: 100px;
		min-height: 350px;
		background-color: #fafafa;
		box-shadow: -2px -2px 30px rgba(173, 173, 173, 0.4);
		position: relative;
		z-index: 2;
	}

	#first_cont {
		position: absolute;
		right: 550px;
		top: 140px;

	}

	#first {
		margin: auto;
		padding: 40px;
		text-align: right;

	}

	a#first {
		position: absolute;

		/*bottom: 0px;*/
		right: 45%;
		bottom: 20px;
		z-index: 3;
		display: inline-block;
		text-align: center;
		color: #0e0e0e;
		transition: background-color .3s;
		padding: 40px;


		transition: bottom 0.3s;
		background-color: #009bdb;
		border-radius: 120px;
		box-shadow: 1px 1px 8px rgba(0,0,0,0.2);
	}

	a#first:hover {
		background-color: #18b2f2;
		box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		bottom: 15px;
	}

	/*
	#second_part a {
		padding-top: 60px;
	}
	*/
	a#first span{
		position: absolute;
		top: 30%;
		left: 50%;
		width: 24px;
		height: 24px;
		margin-left: -12px;
		border-left: 1px solid #fafafa;
		border-bottom: 1px solid #d8d8d8;
		-webkit-transform: rotate(-45deg);
		transform: rotate(-45deg);
		box-sizing: border-box;
	}

#acessibility_part {
	background-color: #ededed;

}
#acessibility_cont {
	color: #565656;

	position: absolute;
	right: 10%;
	max-width: 500px;

	font-weight: 500;
	font-size: 16pt;
	text-align: justify;
	word-wrap: break-word;
	text-indent: 30px;
}

#acessibility_cont p {
	position: relative;
	right: 10%;
	top: 100px;
	line-height: 23pt;
}

#acessibility {
	color: #565656;
	text-align: right;
}

#keya {
	max-width: 150px;
	position: absolute;
	top: 20%;
	left: 14%;
	transform: rotate(15deg);
	opacity: .5;
}
#keyc {
	max-width: 200px;
	position: absolute;
	top: 50%;
	left: 28%;
	transform: rotate(-5deg);
	opacity: .5;
}


#keys {
	max-width: 250px;
	position: absolute;
	top: 40%;
	left: 14%;
	transform: rotate(-25deg);

}

#force_unlished {
	color: #fafafa;
	text-decoration: none;

	background-color: #324c64;
	padding: 15px 30px;
	border-radius: 50px;
	margin-left: 120px;
	transition: box-shadow 0.5s;
}

a#force_unlished:hover {
	box-shadow: 0px 0px 40px rgba(0,0,0,0.3);
}

/* SESSÕES */

	section {
	  position: relative;
	  min-height: 500px;
		padding: 70px 50px;
		margin: 0;

	}
	/*
	section::after {
	  position: absolute;
	  bottom: 0;
	  left: 0;
	  content: '';
	  width: 100%;
	  height: 80%;
	  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
	  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
	}
	*/
	/* SESSION 1 */

		#section01 {
				/*background-color: #0e0e0e;*/
			}

		#second_part {
			margin: 0px;
			padding: 100px;
			min-height: 600px;
			background-color: #528dc2;
			box-shadow: -2px -2px 30px rgba(173, 173, 173, 0.4);
		}

		#second_part a, #third_part a {
			position: absolute;
			top: 550px;
			/*bottom: 0px;*/
			right: 45%;
			bottom: 10px;
			z-index: 3;
			display: inline-block;
			text-align: center;
			color: #0e0e0e;
			transition: background-color .3s;
			background-color: #fafafa;
			padding: 40px;
			border-radius: 120px;
		}
		#second_part  a:hover, #third_part  a:hover {
			background-color: #d8d8d8;
			box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
		}

		/*
		#second_part a {
			padding-top: 60px;
		}
		*/
		#second_part a span, #third_part a span{
			position: absolute;
			top: 30%;
			left: 50%;
			width: 24px;
			height: 24px;
			margin-left: -12px;
			border-left: 1px solid #009bdb;
			border-bottom: 1px solid #0a506d;
			-webkit-transform: rotate(-45deg);
			transform: rotate(-45deg);
			box-sizing: border-box;
		}

		#second_cont {
			position: absolute;
			right: 8%;
			top: 15%;
			max-width: 500px;
			color: #fafafa;
			font-weight: 500;
			font-size: 16pt;
			text-align: justify;
			word-wrap: break-word;
			text-indent: 30px;
		}

		h1#second {
			color: #fafafa;
			font-size: 28pt;
			letter-spacing: 0.3px;
			font-weight: 600;
			text-align: right;
		}
		#hominho{
			position: absolute;
			left: 20%;
			top: 30%;
			margin-left: -170px;
			margin-top: -80px;

			max-width: 400px;
		}

	/* SESSION 2 */

		#third_part {
			margin: 0px;
			padding: 100px;
			min-height: 600px;
			background-color: #009bdb;
			box-shadow: -2px -2px 30px rgba(173, 173, 173, 0.4);
		}

	@-webkit-keyframes sdb03 {
	  0% {
	    opacity: 0;
	  }
	  30% {
	    opacity: 1;
	  }
	  60% {
	    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
	    opacity: 0;
	  }
	  100% {
	    opacity: 0;
	  }
	}
	@keyframes sdb03 {
	  0% {
	    opacity: 0;
	  }
	  30% {
	    opacity: 1;
	  }
	  60% {
	    box-shadow: 0 0 0 60px rgba(255,255,255,.1);
	    opacity: 0;
	  }
	  100% {
	    opacity: 0;
	  }
	}

@media screen and (max-width: 900px) {
	#note {
		display: none;
		width: 10px;
	}

	#first_cont {
		position: static;
	}

	#force_unlished {
		text-align: center;
		margin: auto;
	}
}
